:root{
    /* Global variables */
}
*{
    /* Reset / normalize */
    margin:0;
    padding:0;
    text-decoration:none;
    list-style:none;
    box-sizing:border-box;

}
body{
    /* Base styles */
    background-image:url(bg.jpg);
    background-repeat:no-repeat;
    background-size:cover;
     min-height: 100vh;
   background-position: top center;
/* or */
  

     
}
nav{
    background-color:hsl(180, 11%, 16%);
    height:90px;
    padding:10px 20px;

}

label.logo{
    color:#c0c7cd;
    font-size:40px;
    font-weight:bold;
    margin:0 50px 0 50px;
    cursor:pointer;
    line-height:80px;
}
nav ul{
    float:right;
    margin-right:40px;
}
nav ul li{
    display:inline-block;
    margin: 0 20px 0 20px;
    height:80px;

}
nav ul li a{
    color:#c0c7cd;
    font-size:18px;
    padding:7px;
    border-radius:3px;
    text-align:center;
    text-transform:uppercase;
    position:relative;
    transition:0.8s;

}
nav ul li a::before{
    position:absolute;
    content: "";
    left:0;
    bottom:0;
    width:0;
    height:3px;
    transition:0.8s;
}
a:hover::before,
a.active::before{
    content:"";
    width:100%;
    height:3px;
    background-color:#c0c7cd;
}
a:hover,
a.active{
    background-color:#666;
}

